<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Biblioteka samochodów</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<div th:replace="nav.html ::navbar"></div>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Marka</th>
        <th scope="col">Model</th>
        <th scope="col">Rok produkcji</th>
        <th scope="col">Moc [KM]</th>
        <th scope="col">Pojemność [cm3]</th>
        <th scope="col">Rodzaj paliwa</th>
        <th scope="col">Rodzaj napędu</th>
        <th scope="col">Skrzynia biegów</th>
        <th scope="col">Typ nadwozia</th>
        <th scope="col">Liczba drzwi</th>
        <th scope="col">Akcja</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "car : ${cars}">
        <td th:text = "${car.brand}"></td>
        <td th:text = "${car.model}"></td>
        <td th:text = "${car.productionYear}"></td>
        <td th:text = "${car.powerHp}"></td>
        <td th:text = "${car.engineCapacity}"></td>
        <td th:text = "${car.fuelType}"></td>
        <td th:text = "${car.drive}"></td>
        <td th:text = "${car.transmission}"></td>
        <td th:text = "${car.type}"></td>
        <td th:text = "${car.doorsNumber}"></td>
        <td>
            <a th:href="@{/cars/edit/{id}(id=${car.id})}" class="btn btn-warning">Edytuj</a>
            <a th:href="@{/cars/delete/{id}(id=${car.id})}" class="btn btn-danger">Usuń</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>